<!DOCTYPE HTML>
<html>

<head>
	<title>SHS</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<!-- Slick slider (Similar Image Silder) -->
	<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
	<!-- Fancybox slider (Image viewer) -->
	<link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="screen" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>



</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="index.html">SHS</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="login.html">로그인</a></li>
					<li><a href="#info-noise">관광소음이란?</a></li>
					<li><a href="#fermission">권한설정</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h2>소확행</h2>
					<p>소음으로부터 확실한 행복, 관광지 소음을 줄이기 위해 서로에게 가장 좋은 방법.</p>
				</header>
				<span class="image"><img src="images/pic01.jpg" alt="" /></span>
			</div>
			<a href="#info-noise" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="info-noise" class="spotlight style2 right" >
			<span class="image fit main"><img src="images/slider/img1.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>관광지 소음이란?</h2>
					<p>관광지 소음이란 생활하는 공간이자 관광지인 곳에서 발생하는 문제로,<br />
						많은 관광지들이 고통을 받고 있다.</p>
				</header>
				<p>이런 관광지 소음 문제를 해결하기 위해 웹과 앱을 만들게 되었다. <br>
					처음 QR코드가 나타난 구간부터 마지막 QR코드가 나타난 구간까지의 소음 정도에 따라 적절한 보상을 제공한다.
				</p>
				<ul class="actions">
					<li><a href="https://i.imgur.com/691rSLR.jpg" class="button">더 알아보기</a></li>
				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

	

		<!-- Five -->
		<section id="fermission" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>소음 측정 전 권한 승인</h2>
					<p>소음 측정에 필요한 소음 측정, 쿠폰 제공에 필요한 문자메세지 수신기능 및 자료 수집에 대해 동의합니다. </p>
				</header>
				<form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<div class="col-12 col-12-xsmall"><a href="popUp.html" onclick="window.open(this.href, 'popup', 'width=400,height=511,toolbars=no,scrollbars=no'); return false;"><input type="button" value="위 내용을 확인했으며, 이에 동의합니다." class="fit primary" /></a></div>
					</div>
				</form>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			
			<ul class="copyright">
				<li>&copy; Copyright 2019. 신홍개발소. All right reserved. </li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>


	
  <!-- Custom js -->
  <script src="assets/js/custom.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="assets/js/bootstrap.js"></script>

	<!-- Slick slider -->
	<script type="text/javascript" src="assets/js/slick.js"></script>
	<!-- Mixit slider -->
	<script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>

</body>

</html>