<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>리스트 보기</h2>

<div th:if="${not #lists.isEmpty(users)}">
    <table class="glyphicon glyphicon-calendar">
        <tr>
            <th>Id</th>
            <th>Phone</th>
            <th>Password</th>
            <th>delete</th>
        </tr>
        <tr th:each="person : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.password}"></td>
            <td><a href="/manager" th:href="@{'manager/delete/' + ${user.id}}">삭제</a></td>
        </tr>
    </table>
    <hr/>
</div>
<a href="/"><button>새로 만들기</button></a>

</body>
</html>