<!DOCTYPE HTML>


<head>
    <title>SHS | 퍼미션</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body> <!--  class="is-preload" -->
   
        <!-- Main -->
        <div id="main" class="wrapper style">
            <div class="container">
                <header class="major">
                    <img src="images/logo.png">
                    <p>시작하시려면 아래 버튼을 눌러주세요</p>

                    <a href="start.html"><input type="button" value="시작하기" class="fit primary" style = "width: 75%;" /></a>
                </header>
            </div>
        </div>

</body>

</html>