<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>SHS | 회원가입</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <div id="page-wrapper">

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="container">
                <header class="major">
                    <a href="index.html"><img src="images/logo.png" /></a> <br /><br />
                    <p>번호로 간편하게 회원가입하기</p>
                    <p><sub>- 입력한 번호로 쿠폰 문자가 갑니다 -</sub></p>
                </header>

                <!-- Form -->
                    <section  id="loginForm">
                        <form method="post" action="/" th:action="@{/manager}" th:object="${user}">
                            <div class="row gtr-uniform gtr-50">
                                <div class="col-5">
                                    <input type="text" name="phone" id="phone" value="" placeholder="PhoneNumber"  />
                                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                                </div>

                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="회원가입" id="signup" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
            </div>
        </div>
    </div>

</body>

</html>